{% extends "base.html.twig" %}
{% block content %}
    <h1>Redis Viewer</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table-condensed table-hover table-striped" id="redis-data">
                <thead>
                <tr>
                    <td>Key</td>
                    <td>Value</td>
                </tr>
                </thead>
                <tbody>
                    {% for key in redisKeys %}
                        <tr>
                            <td>{{ key.key }}</td>
                            <td>{{ key.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}