<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>{% block title %}{% endblock %} - Automate Everything</title>

        <!-- Bootstrap core CSS -->
        {% for css in csses %}
            <link href="{{ css }}" rel="stylesheet">
        {% endfor %}

    {% endblock %}
</head>

<body>

<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container-fluid bg-inverse p-a-1">
            <h3>Collapsed content</h3>

            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>
    <div class="navbar navbar-light bg-faded navbar-static-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
            &#9776;
        </button>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="footer">
    {% block footer %}
        &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% for javascript in javascripts %}
    <script src="{{ javascript }}"></script>
{% endfor %}
</body>
</html>
