<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>{% block title %}{% endblock %} - Automate Everything</title>

        <!-- Bootstrap core CSS -->
        {% for css in csses %}
            <link href="{{ css }}" rel="stylesheet">
        {% endfor %}

    {% endblock %}
</head>

<body>


<nav class="navbar navbar-light bg-faded pos-f-t">
    <button aria-controls="navbar-header" data-target="#navbar-header" data-toggle="collapse" type="button" class="navbar-toggler hidden-sm-up">
        ☰
    </button>
    <div id="navbar-header" class="collapse navbar-toggleable-xs">
        <a href="#" class="navbar-brand">Navbar</a>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Features</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Pricing</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
        </ul>
        <form class="form-inline pull-xs-right">
            <input type="text" placeholder="Search" class="form-control">
            <button type="submit" class="btn btn-success-outline">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="footer">
    {% block footer %}
        &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% for javascript in javascripts %}
    <script src="{{ javascript }}"></script>
{% endfor %}
</body>
</html>
